@{
    ViewData["Title"] = "ChangePassword";
    var id = ViewBag.Id;
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $('#PWD').focusout(function () {
            PwdFocusout();
        });
        $('#CHKPWD').focusout(function () {
            PwdFocusout();
        });
        $('#PWD').focusin(function () {
            PwdFocusin();
        });
        $('#CHKPWD').focusin(function () {
            PwdFocusin();
        });

        function PwdFocusout() {
            let pwd1 = $('#PWD').val();
            let pwd2 = $('#CHKPWD').val();

            if ((pwd1 == '' && pwd2 == '') || (pwd1 != '' && pwd2 == '')) {
                null;
            } else {
                if (pwd1 == pwd2) {
                    $('#CHKPWD').addClass('bg-light-success');
                } else {
                    $('#CHKPWD').addClass('bg-light-danger');
                }
            }
        }
        function PwdFocusin() {
            if ($('#CHKPWD').hasClass('bg-light-success')) {
                $('#CHKPWD').removeClass('bg-light-success');
            } else if ($('#CHKPWD').hasClass('bg-light-danger')) {
                $('#CHKPWD').removeClass('bg-light-danger');
            }
        }
    </script>
}

<!-- Outer Row -->
<div class="d-flex justify-content-center align-items-start position-relative container">
    <div class="col-5">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-gray-900 mb-4">비밀번호 변경</h4>
                            </div>
                            <form class="mt-4 form-horizontal user" method="post" asp-controller="Account" asp-action="ChangePassword">
                                <div class="form-group">
                                    <label class="text-dark">아이디 <b>@id</b></label>
                                    <input type="hidden" class="form-control form-control-user" value="@id" name="id" />
                                </div>
                                <div class="form-group">
                                    <label class="text-dark d-inline">비밀번호</label><label class="text-danger">*</label>
                                    <input type="password" id="PWD" class="form-control form-control-user" name="password" placeholder="비밀번호" />
                                </div>
                                <div class="form-group">
                                    <label class="text-dark d-inline">비밀번호 확인</label><label class="text-danger">*</label>
                                    <input type="password" id="CHKPWD" class="form-control form-control-user" placeholder="비밀번호 확인" />
                                    <span class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block mt-5">비밀번호 변경</button>
                            </form>
                            <hr class="my-5">
                            <div class="text-center my-3">
                                <a asp-controller="Account" asp-action="Login">로그인 하시겠습니까?</a>
                            </div>
                            <div class="text-center">
                                아이디가 없으신가요 ?
                                <a class="text-danger" asp-controller="Account" asp-action="Register">회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
